{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ligue list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ordre</th>
                <th>Prestige</th>
                <th>Actif</th>
                <th>Postop</th>
                <th>Posleft</th>
                <th>Description</th>
                <th>Idligue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ligue_show', { 'id': entity.idligue }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.ordre }}</td>
                <td>{{ entity.prestige }}</td>
                <td>{{ entity.actif }}</td>
                <td>{{ entity.posTop }}</td>
                <td>{{ entity.posLeft }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.idligue }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ligue_show', { 'id': entity.idligue }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ligue_edit', { 'id': entity.idligue }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ligue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
