{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ligue</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ entity.ordre }}</td>
            </tr>
            <tr>
                <th>Prestige</th>
                <td>{{ entity.prestige }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ entity.actif }}</td>
            </tr>
            <tr>
                <th>Postop</th>
                <td>{{ entity.posTop }}</td>
            </tr>
            <tr>
                <th>Posleft</th>
                <td>{{ entity.posLeft }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Idligue</th>
                <td>{{ entity.idligue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ligue') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ligue_edit', { 'id': entity.idligue }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
