{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SaisonLigue list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Saison</th>
                <th>Modeligue</th>
                <th>Ordre</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Actif</th>
                <th>Idsaisonligue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('saisonligue_show', { 'id': entity.idsaisonLigue }) }}">{{ entity.saison }}</a></td>
                <td>{{ entity.modeLigue }}</td>
                <td>{{ entity.ordre }}</td>
                <td>{% if entity.dateDeb %}{{ entity.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.actif }}</td>
                <td>{{ entity.idsaisonLigue }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('saisonligue_show', { 'id': entity.idsaisonLigue }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('saisonligue_edit', { 'id': entity.idsaisonLigue }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('saisonligue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
