{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Matchs list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Urltopic</th>
                <th>Journee</th>
                <th>Datematch</th>
                <th>Score1</th>
                <th>Score2</th>
                <th>Possession1</th>
                <th>Occupationown1</th>
                <th>Occupationtheir1</th>
                <th>Subsonne1</th>
                <th>Subko1</th>
                <th>Subblesse1</th>
                <th>Submort1</th>
                <th>Possession2</th>
                <th>Occupationown2</th>
                <th>Occupationtheir2</th>
                <th>Subsonne2</th>
                <th>Subko2</th>
                <th>Subblesse2</th>
                <th>Submort2</th>
                <th>Note</th>
                <th>Spectateur</th>
                <th>Poule</th>
                <th>Modifgloire1</th>
                <th>Modifgloire2</th>
                <th>Malusgloire</th>
                <th>Idmatch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('matchs_show', { 'id': entity.idmatch }) }}">{{ entity.urltopic }}</a></td>
                <td>{{ entity.journee }}</td>
                <td>{% if entity.datematch %}{{ entity.datematch|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.score1 }}</td>
                <td>{{ entity.score2 }}</td>
                <td>{{ entity.possession1 }}</td>
                <td>{{ entity.occupationOwn1 }}</td>
                <td>{{ entity.occupationTheir1 }}</td>
                <td>{{ entity.subSonne1 }}</td>
                <td>{{ entity.subKo1 }}</td>
                <td>{{ entity.subBlesse1 }}</td>
                <td>{{ entity.subMort1 }}</td>
                <td>{{ entity.possession2 }}</td>
                <td>{{ entity.occupationOwn2 }}</td>
                <td>{{ entity.occupationTheir2 }}</td>
                <td>{{ entity.subSonne2 }}</td>
                <td>{{ entity.subKo2 }}</td>
                <td>{{ entity.subBlesse2 }}</td>
                <td>{{ entity.subMort2 }}</td>
                <td>{{ entity.note }}</td>
                <td>{{ entity.spectateur }}</td>
                <td>{{ entity.poule }}</td>
                <td>{{ entity.modifGloire1 }}</td>
                <td>{{ entity.modifGloire2 }}</td>
                <td>{{ entity.malusGloire }}</td>
                <td>{{ entity.idmatch }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('matchs_show', { 'id': entity.idmatch }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('matchs_edit', { 'id': entity.idmatch }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('matchs_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
