{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Player list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Idposte</th>
                <th>Competences</th>
                <th>Blessures</th>
                <th>Fired</th>
                <th>Blesse</th>
                <th>Num</th>
                <th>Xp</th>
                <th>Idplayer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': entity.idplayer }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.idposte }}</td>
                <td>{{ entity.competences }}</td>
                <td>{{ entity.blessures }}</td>
                <td>{{ entity.fired }}</td>
                <td>{{ entity.blesse }}</td>
                <td>{{ entity.num }}</td>
                <td>{{ entity.xp }}</td>
                <td>{{ entity.idplayer }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('player_show', { 'id': entity.idplayer }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('player_edit', { 'id': entity.idplayer }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('player_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
